		@font-face {
		  font-family: 'puzzle-';
		  src:
		    url('fonts/puzzle-.ttf?n7qhdv') format('truetype'),
		    url('fonts/puzzle-.woff?n7qhdv') format('woff'),
		    url('fonts/puzzle-.svg?n7qhdv#puzzle-') format('svg');
		  font-weight: normal;
		  font-style: normal;
		}
		
		i.puzzle {
		  font-family: 'puzzle-' !important;
		  speak: none;
		  font-style: normal;
		  font-weight: normal;
		  font-variant: normal;
		  text-transform: none;
		  line-height: 1;
		  -webkit-font-smoothing: antialiased;
		  -moz-osx-font-smoothing: grayscale;
		}
		
		.puzzle-note_puzzle-close:before {
		  content: "\e900";
		}
		.puzzle-note_puzzle-open:before {
		  content: "\e901";
		}
		.puzzle-puzzle-logo-black-close:before {
		  content: "\e902";
		}
		.puzzle-puzzle-logo-black-open:before {
		  content: "\e903";
		}
		.puzzle-puzzle-rotate-close:before {
		  content: "\e904";
		}
		.puzzle-puzzle-rotate-open:before {
		  content: "\e905";
		}
		.puzzle-puzzle-text-close:before {
		  content: "\e906";
		}
		.puzzle-puzzle-text-open:before {
		  content: "\e907";
		}

		body { 
		    font-size: 14px;
		    line-height: 1.42857143;
		    color: #333;
		    min-height: 100%;
		    margin: 0px;
		    padding: 0px;
		    background-color: #fff;
		}
		.container {
		    position: absolute; 
		    width: 100%;
		    min-height: 100%;
		/*     background: linear-gradient(0deg, #ffffff 1%, #FFCB06 100%);	 */
		}
		.header_sign {
			color: #4885C5;
			font-family: 'Varela Round', sans-serif;
			font-weight: bold;
			font-size: 20px;
			letter-spacing: 2px;		}
		.login_wrap {
			margin: 25px 0;
		}
		.mgt50 {
			margin-top: 50px;
		}

		.form-signin {
		    margin: 0 auto 25px;
		    width: 425px;
		    background-color: #f3f7f8;
		    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.0);
		    padding: 30px 40px;
		    margin-top: 20px; 
		}		
		.logo {
			width: 150px;
			height: auto;
			max-width: 100%;
			margin-bottom: 25px;
			vertical-align: -webkit-baseline-middle;
		}
		.txt_hde {
		    color: #009BDF;
		    font-size: 15px;
		    font-weight: bold;
		}
		.img_section {
			margin: 0 auto 25px;
			color: #fff;
			font-size: 17px;
		}
		.img_section img {
			width: 40px;
			height: auto;
		}
		.form-signin-heading {
			font-size: 20px; 
			text-align:center;
			margin-bottom: 30px;
		}
		
		.form-control {
			text-rendering: auto;
			color: initial;
			letter-spacing: normal;
			word-spacing: normal;
			text-transform: none;
			text-indent: 0;
			text-shadow: none;
			font: 400 11px system-ui;
			background: #e7eeef;
			border: none;
			margin: 10px auto;
			padding: 15px;
			width: 100%;
			display: block;
			border-radius: 0;
			font-size: 1.5rem;
			transition: opacity 0.4s;
			text-align: left;
			height: auto;
			-webkit-appearance: none;
			-webkit-rtl-ordering: logical;
			cursor: text;
			margin-bottom: 20px;
		}
		
		.form-signin p {
			margin-top: 10px;
			font-size: 15px;
			color: #fff;
			text-shadow: rgba(0,0,0,1) 0px 0px 1px;
		} 
		.btn-primary {
			margin-top: 15px;
			background-color: #244985;
			border-color: #244985;
			height: 45px;	
			font-weight: bold;
		} 
		.btn-primary:hover, .btn-primary:focus {
			background-color: #528aa3;
			border-color: #528aa3;	
		}
		.text-error {
			margin: 0;
			color: #8C8C8C;
			font-size: 12px;
			font-style: italic;
		}
		.register {
			margin-top: 10px;
			text-align: center;
		}
		.mgt10 {
			margin-top: 10px;
		}
		nomg {
			margin: 0;
		}
		a {
/*
		    display: inline-block;
		    padding: 3px 6px;
		    line-height: 100%;
		    border: 1px solid transparent;
		    border-radius: 2px;
		    color: #FFFFFF;
		    text-shadow: #3B3523 0px 0px .3px;
		    background-color: #99c2dc;
		    border-color: #99c2dc;
		    font-size: 12px;
		    font-weight: bold;			
			text-decoration:none !important;
			text-align: center;
*/
		}
		a:hover, a:focus {
			color: #FFCB06;
		}
		h2 {
			color: #A9A9A9; 
			margin: 0;
			margin-bottom: 20px;
			font-size: 20px;
			font-weight: 200;
		}
		.help_box {
			margin-top: 15px;
		}
		.help-block {
		    color: #999;
		    font-size: 12px;
		    margin-top: 7px;
		    margin-bottom: 7px;
		}
		code {
		    color: #c7254e;
		    background-color: #f9f2f4;
		    border-radius: 3px;
		}
        .bg-danger {
		    margin-bottom: 15px;
		    padding: 10px;
		    font-size: 12px;
		    color: #4d4d4d;
		    border-left: 2px solid #F44336;
		    -moz-border-radius-topright: 3px;
		    -webkit-border-top-right-radius: 3px;
		    border-top-right-radius: 3px;
		    -moz-border-radius-bottomright: 3px;
		    -webkit-border-bottom-right-radius: 3px;
		    border-bottom-right-radius: 3px;
		}
		.langue {
			font-size: 10px;
			color: #a5a5a5;
		}
		.translate {
			margin: 0px auto;
			text-align: center;			
		}
		.translate span {
		    cursor: pointer;
		    padding: 5px 10px;
		    background-color: #fffff;
		    font-size: 11px;
		    -moz-border-radius: 2px;
		    -webkit-border-radius: 2px;
		    border-radius: 2px;
		    -moz-box-shadow: inset 0px 0px 1px rgba(0,0,0,1);
		    -webkit-box-shadow: inset 0px 0px 1px rgba(0,0,0,1);
		    box-shadow: inset 0px 0px 1px rgba(0,0,0,1);
		} 
		.translate span:hover {
		    background-color: #f1f1f1;
		    color: #fffff;
		}
		.nopd {
			padding: 0;
		}
		.pdt10 {
			padding-top: 10px;
		}
		.control-group .error {
			font-size: 11px; 
			color: #f3511e;
			font-weight: bold;
		}
		.control-group .error:before {
			content: "\f071";
			margin-right: 5px;
			font-weight: bold;
		    display: inline-block;
		    font: normal normal normal 14px/1 FontAwesome;
		    font-size: inherit;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;	
		}
		.btn-naver {
		    color: #fff;
		    background-color: #2aa900;
		    border-color: rgba(0,0,0,0.2);
		}
		.btn-naver:hover, .btn-naver:focus { 
		    background-color: #259100;
		}
		.btn-kakao {
		    color: #2c1717;
		    background-color: #f9ec00;
		    border-color: rgba(0,0,0,0.2);
		    text-shadow: #3B3523 0px 0px 0px;
		}
		.btn-kakao:hover, .btn-kakao:focus { 
		    background-color: #dacf00;
		}
		.extra_wrap {
		    margin: 0 auto 0;
		    width: 425px;
		    padding: 0;
		    margin-top: 20px;
		    text-align: center;			
		}
		.extra_wrap img {
			width: 35px;
			height: auto;
			margin-bottom: 15px;
		}
		.social_swal_wrap {
			padding: 0 10%;
		}
		.sweet-alert {
			top: 40%;
		}
		.control-group {
			margin-top: 10px;
		}
		label {
			color: #5a5a5a;
		}
		.expired {
			text-align: center;
		}
		.expired h1 {
			margin: 0;
		}
		.expired h3 {
			margin-top:0px;
		}
		.expired p {
			color: #797979;
			margin: 0;
			padding: 0;
			text-shadow: 0 0;
			line-height: 115%;
		}
		.expired a {
		    color: #ffffff;
		    background-color: #244985;
		    padding: 6px 10px;
		    -moz-border-radius: 4px;
		    -webkit-border-radius: 4px;
		    border-radius: 4px;
		    font-size: 13px;
		}
		@media screen and (max-width:640px) { 	
			.container {
    margin: 0;
    padding: 0;
    				
			}
			.form-signin, .extra_wrap {
				width: 100%;
			}
			.sweet-alert .btn-social {
				font-size: 10px;
			}
			.social_swal_wrap .btn-social>:first-child {
				line-height: 26px;
			}
			.sweet-alert button {
				font-size: 10px;				
				padding: 5px 20px;
				margin: 10px 5px 0 5px;				
			}
			.sweet-alert h2 {
				font-size: 20px;
				line-height: 120%;
				margin: 10px 0;
			}
			.sweet-alert .social_swal_wrap {
				font-size: 10px;
			}
			.sweet-alert p {
				font-size: 12px;
			}
		
		} 
		iframe {
			display: none !important;
		}
		.guest_logout {
		    border: 1px solid transparent;
		    border-radius: 2px;
		    background-color: #888;
		    border-color: #888;
		    text-transform: none;
		    padding: 6px 10px;
		    color: #fff;
		    height: 45px;
		    line-height: 30px;
		    display: block;
		    text-align: center;		
		}
		.btn-social {
		    text-align: left;
		}	
		.btn-social:hover, .btn-social:focus {
			color: #000;
		}
		.btn-google {
		    color: #fff;
		    background-color: #dd4b39;
		    border-color: rgba(0,0,0,0.2);
		}
		.btn-lineworks {
		    color: #fff;
		    background-color: #00c73c;
		    border-color: #009b1a;
		}
		.btn-lineworks img {
		    height: 20px;
		    width: auto;
		    margin-right: 10px;
		    vertical-align: middle;	
		}
.cp-morph {
	background: #528aa3;
}		
.cp-spinner {
	width: 48px;
	height: 48px;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
}

.cp-morph {
	width: 48px;
	height: 48px;
	display: inline-block;
	box-sizing: border-box;
	background: #528aa3;
	animation: cp-morph-animate 1s linear infinite;
}

@keyframes cp-morph-animate {
	0% {
		transform: rotate(0) scale(1);
		border-radius: 0;
		background: #337ab7;
	}

	25%,75% {
		transform: rotate(180deg) scale(.4);
		border-radius: 50%;
		background: #528aa3;
	}

	100% {
		transform: rotate(360deg) scale(1);
		border-radius: 0;
		background: #337ab7;
	};
}	

.number {
    background-color: #4CAF50;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}
	